.top {
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
}
.full{
    width:100%;
    height: 30em;
}
.our-mission{
    float: right;
}
.big{
    display: flex;
    justify-content: space-between;
    border: 1px solid;
}
.nav{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}